$bg-color : #6C4AB6;

@import "~bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


.hero {
  width: 100%;
  padding: 80px;
  background-color: #d6c6ff;
}

@media screen and (max-width: 620px) {
  .hero {
    padding: 20px 10px;
  }
}
.btn-master{
  background-color: $bg-color;
  color: white;
}

.genre {
  width: 100%;
  margin-bottom: 30px;

  & button {
    @extend .btn-master;

    &:hover {
      @extend .btn-master;
    }

    &:focus {
      @extend .btn-master;
    }
  }
}