* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


.hero{
    width: 100%;
    padding: 80px;
    background-color: #d6c6ff;
}

@media screen and (max-width: 620px){
    .hero{
        padding: 20px 10px;
    }
}

